<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>test-parameter</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fb494">  <td>22/08/30 15:08:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DoneUpload.doneUpload()[pri:0, instance:com.hxk.online.course.DoneUpload@5ae9a829]">doneUpload</td> 
  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>22/08/30 15:08:55</td>   <td>-1686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoList.index()[pri:0, instance:com.hxk.online.course.VideoList@548b7f67]">index</td> 
  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="aabeb0">  <td>22/08/30 15:08:59</td>   <td>2164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Index.index()[pri:0, instance:com.hxk.online.Index@402f32ff]">index</td> 
  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>22/08/30 15:08:56</td>   <td>-891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Nchannel_list.nchannel_list()[pri:0, instance:com.hxk.online.sale.Nchannel_list@573f2bb1]">nchannel_list</td> 
  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="8bc3d5">  <td>22/08/30 15:09:00</td>   <td>3196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoDel.videoDel()[pri:0, instance:com.hxk.online.course.VideoDel@6d8a00e3]">videoDel</td> 
  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="969fbe">  <td>22/08/30 15:08:54</td>   <td>-2540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CourseRecord404.wo404()[pri:0, instance:com.hxk.online.CourseRecord404@48eff760]">wo404</td> 
  <td>main@226710952</td>   <td></td> </tr>
</table>
